@font-face {
    font-family: 'exo_2bold';
    src: url('exo2bold.eot');
    src: url('exo2bold.eot?#iefix') format('embedded-opentype'),
         url('exo2bold.woff') format('woff'),
         url('exo2bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'exo_2regular';
    src: url('exo2.eot');
    src: url('exo2.eot?#iefix') format('embedded-opentype'),
         url('exo2.woff') format('woff'),
         url('exo2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}